.auction__intro {
  border-bottom: 1px solid var(--green);
  display: flex;
  flex-direction: column;
  max-width: 400px;
  align-items: center;
  padding: 2rem;
}

.auction__description {
  padding: 1rem;
}
