.auction__intro {
  border-bottom: 1px solid var(--green);
  display: flex;
  flex-direction: column;
  max-width: 400px;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.auction__text {
  padding: 1rem;
  color: var(--text);
}
