.lot__bidding {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border: 1px solid var(--green);
  background-color: var(--green);
  border-radius: 5px;
  color: var(--white);
  width: 90%;
  gap: 0.5rem;
  text-align: center;
}

.bidding__starting-price,
.bidding__current-price {
  font-weight: 700;
  font-size: larger;
}

.bidding__input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 0;
  border: none;
  border-radius: 0;
  font-size: initial;
  gap: 0;
}

.bidding__input input {
  margin: 1rem;
  padding: 0.5rem;
  width: 100%;
}

.btn_bid {
  background-color: var(--green);
  border: 1px solid var(--offwhite);
  color: var(--offwhite);
}

.btn_bid:hover {
  background-color: var(--white);
  color: var(--green);
}

.icon__hammer {
  width: 2rem;
}
