.modalBackground {
  width: 100vw;
  height: 100vh;
  background-color: rgba(200, 200, 200, 0.3);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  top: 0;
  left: 0;
}

.modalContainer {
  min-width: 25rem;
  height: auto;
  border-radius: 5px;
  background-color: var(--offwhite);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;
}

.modalContainer .title {
  display: inline-block;
  text-align: center;
}

.modalContainer .body {
  flex: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
}

.modalContainer .footer {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer__close {
  align-self: flex-end;
  /* height: calc(1.7rem + 1px); */
  color: var(--green);
  border-bottom: 1px solid transparent;
  padding-bottom: 2px;
}

.modalContainer__register:hover,
.modalContainer__close:hover {
  border-bottom: 1px solid var(--green);
  cursor: pointer;
}

.modalContainer .button__login {
  border: 1px solid var(--green);
  width: initial;
  border-radius: 5px;
  text-transform: none;
  font-weight: 700;
  font-size: smaller;
  padding: 0.5rem 1rem 0.5rem 1rem;
}
