.container__contact {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  padding: 1rem 1rem 5rem 1rem;
}

.organisation__contact {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-bottom: 1px solid var(--green);
  padding-bottom: 2rem;
}

.organisation__socials {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.organisation__instagram,
.organisation__facebook {
  background-repeat: no-repeat;
  background-size: contain;
  width: 2rem;
  height: 2rem;
}

.organisation__instagram {
  background-image: url(./icons/instagram.png);
}

.organisation__facebook {
  background-image: url(./icons/facebook.png);
}

.organisation__name p {
  font-weight: 700;
}

.author__cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  width: 100%;
}

/* RESPONSIVITY */

@media (min-width: 768px) {
  .container__contact {
    padding: 2rem 2rem 5rem 2rem;
  }

  .author__cards {
    display: flex;
    flex-direction: row;
  }
}
