:root {
  --green: #1a6635;
  --grey: #e3e3e2;
  --white: #faf4f4;
  --text: #494545;
}

.container__list {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--green);
}

.auction__img {
  width: 100%;
  height: 50vh;
  background-size: cover;
  margin-top: 40px;
}

.auction__enter {
  padding: 0.8rem 1rem 0.8rem 1rem;
  font-weight: 700;
  border: 1px solid var(--green);
  background-color: var(--white);
  color: var(--green);
  margin-bottom: -45px;
}

.auction__copy {
  display: flex;
}

.auction__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 1.5rem;
  border: 1px solid var(--green);
  background-color: var(--white);
  border-radius: 5px;
  margin-top: -10px;
  color: var(--text);
  margin-bottom: 40px;
}

.auction__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* RESPONSIVITY */

/* responzivitu je třeba upravit, odsazení, šířky a výšky zlobí */

@media (min-width: 768px) {
  .container__list {
    flex-direction: row;
  }

  .auction__img {
    width: 550px;
    height: 450px;
    margin: 40px;
  }

  .auction__copy {
    display: flex;
  }

  .auction__content {
    height: 360px;
    width: 450px;
    margin-left: -10rem;
    margin-top: 5.4rem;
    padding: 30px 40px 30px 40px;
  }

  @media (min-width: 1200px) {
    .auctions {
      width: 70%;
    }
  }
}
