:root {
  --green: #1a6635;
  --grey: #e3e3e2;
  --white: #faf4f4;
  --text: #494545;
}

.container__homepage {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  letter-spacing: 0.5px;
  line-height: 20px;
}

.homepage__text {
  padding: 1.875rem 6rem 1.875rem 6rem;
  color: var(--text);
}

.box__auctions {
  background-color: var(--green);
  opacity: 0.9;
  color: var(--white);
  position: relative;
}

/* to hore len experiment */

.box__slideshow {
  aspect-ratio: 1 / 1;
  background-image: url('./img/Jan_Svankmajer_prirodopis_1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.box__auctions,
.box__slideshow {
  width: 100%;
}

.button__auctions {
  position: absolute;
  right: 3.75rem;
  bottom: 2.5rem;
  border: none;
}

.box__auctions p {
  margin-top: 14rem;
}

/* RESPONSIVITY */

@media (min-width: 768px) {
  .homepage__box {
    display: flex;
    flex-direction: row;
  }

  .box__auctions,
  .box__slideshow {
    width: 50%;
  }

  .box__auctions {
    aspect-ratio: 1 / 1;
    padding: 30px 40px;
  }

  .button__auctions {
    padding: 10px 20px;
    letter-spacing: 0.5px;
    border-radius: 10px;
    line-height: 20px;
    font-weight: 700;
    border: 1px solid var(--green);
    color: var(--green);
    background-color: var(--white);
  }

  a {
    color: var(--green);
    text-decoration: none;
  }
}
