:root {
  --green: #1a6635;
  --grey: #e3e3e2;
  --white: #ffffff;
  --offwhite: #faf4f4;
  --text: #494545;
}

/* carousel pokus! */

.box__slideshow {
  aspect-ratio: 1 / 1;
  display: flex;
  height: 250px;
  cursor: pointer;
  position: relative;
}

.carousel__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel__media {
  flex-grow: 1;
}

.carousel__next,
.carousel__previous {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.carousel__next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

.arrow {
  border: solid var(--text);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 6px;
}

.left {
  transform: rotate(-45deg);
}

.right {
  transform: rotate(135deg);
}

.carousel__next:hover,
.carousel__previous:hover {
  background-color: rgb(211, 211, 211, 0.3);
}

/* end carousel */

.container__homepage {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.homepage__text {
  color: var(--text);
  line-height: 1.25rem;
}

.box__auctions {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 2rem;
  width: 100%;
  aspect-ratio: 1 / 1;
  background-color: var(--green);
  padding: 3rem 2rem 3rem 2rem;
  color: var(--offwhite);
}

.button__auctions {
  background-color: var(--green);
  border: 1px solid var(--offwhite);
  color: var(--offwhite);
}

.button__auctions:hover {
  background-color: var(--offwhite);
  color: var(--green);
}

/* .box__slideshow {
  justify-content: flex-end;
  aspect-ratio: 1 / 1;
  background-image: url('./img/Jan_Svankmajer_prirodopis_1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
} */

.box__auctions,
.box__slideshow {
  width: 100%;
  height: auto;
}

.homepage__text {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 2rem;
}

.box__text-img {
  width: 100%;
  aspect-ratio: 1 / 1;
  background-image: url('../img/logo.png');
  margin: 2rem;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(250, 244, 244, 0.9);
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 6rem;
  color: var(--text);
  font-weight: 700;
  top: 0;
  left: 0;
  text-align: center;
}

/* RESPONSIVITY */

@media (min-width: 768px) {
  .homepage__box {
    display: flex;
    flex-direction: row;
  }

  .box__auctions,
  .box__slideshow {
    width: 50%;
    aspect-ratio: 1 / 1;
  }

  .box__auctions {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 3rem;
  }

  .box__text-img {
    width: 50%;
    margin: 5rem;
  }
}
