@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --green: #1a6635;
  --text: #494545;
}

* {
  box-sizing: border-box;
}

.container__registration {
  max-width: 45rem;
  margin: 0 auto;
  color: var(--text);
}

form {
  padding: 2rem;
  border: 1px solid var(--green);
  border-radius: 5px;
  letter-spacing: 0.5px;
  line-height: 1.25rem;
  font-size: 14px;
  margin: 3rem;
}

input[type='text'],
input[type='password'],
input[type='email'],
input[type='number'] {
  width: 70%;
  padding: 5px;
  margin: 5px 0 22px 5px;
  border: none;
  background: #f1f1f1;
}

input[type='text']:focus,
input[type='password']:focus,
input[type='email']:focus,
input[type='number']:focus {
  background-color: #ddd;
  outline: none;
}

label {
  display: flex;
  flex-direction: column;
}
