.container__lot {
  border: 1px solid var(--green);
  border-radius: 5px;
  padding: 1rem;
  width: 100%;
  margin-top: 2rem;
}

.lot__name {
  font-weight: 700;
}

.lot__author {
  font-weight: 700;
  font-size: large;
}
