.container__lot {
  border: 1px solid var(--green);
  border-radius: 5px;
  padding: 1rem 1rem 2rem 1rem;
  width: 100%;
}

.auction__lot {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.lot__gallery,
.lot__description {
  width: 100%;
}

.img {
  object-fit: contain;
  width: 100%;
  height: 50vh;
}

.horizontal-line {
  border-top: 1px solid var(--green);
}

.lot__author {
  font-weight: 700;
  font-size: large;
}

.lot__name {
  font-weight: 700;
}
