:root {
  --green: #1a6635;
  --grey: #e3e3e2;
  --white: #ffffff;
  --offwhite: #faf4f4;
  --text: #494545;
}

.container__how-to-bid {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 3rem;
  padding: 1rem 1rem 5rem 1rem;
}

.how-to-bid__steps {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.how-to-bid__step {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
  border: 1px solid var(--green);
  border-radius: 5px;
  padding: 2rem;
}

.how-to-bid__icon {
  width: 20%;
  aspect-ratio: 1 / 1;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.form {
  background-image: url('icons/form.png');
}

.mail {
  background-image: url('icons/mail.png');
}

.login {
  background-image: url('icons/key.png');
}

.auction {
  background-image: url('icons/auction.png');
}

.bid {
  background-image: url('icons/bid.png');
}

.winning-bid {
  background-image: url('icons/winning-bid.png');
}

.step_instructions {
  width: 100%;
}

.step_instructions a:hover {
  border-bottom: 1px solid var(--green);
  padding-bottom: 2px;
}

.how-to-bid__description {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.description__article {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.description__title {
  font-size: large;
  font-weight: 700;
}

.bold {
  font-size: large;
  font-weight: 700;
}

/* RESPONSIVITY */

@media (min-width: 768px) {
  .container__how-to-bid {
    margin: 0 auto;
    width: 70%;
    padding: 2rem 2rem 5rem 2rem;
  }
}

@media (min-width: 992px) {
  .container__how-to-bid {
    width: 60%;
  }

  .how-to-bid__icon {
    width: 12%;
  }
}
