@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --green: #1a6635;
  --grey: #e3e3e2;
  --white: #faf4f4;
  --text: #494545;
}

*,
body,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  background-color: var(--white);
  box-shadow: 0rem 0rem 0.625rem #999999;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav__content {
  display: flex;
  flex-direction: column;
}

/*  display: none */

.nav__buttons {
  display: flex;
  flex-direction: column;
}

.nav__hamburger-icon {
  background-image: url(./icons/hamburger.svg);
  background-repeat: no-repeat;
  width: 3rem;
  aspect-ratio: 1 / 1;
}

.nav__buttons {
  display: flex;
}

.footer {
  width: 100%;
  padding: 1rem 2rem 1rem 2rem;
  background-color: var(--green);
  color: var(--white);
}

/* z nav__content bych v mobilním rozhraní udělala hamburger menu */

/* RESPONSIVITY */

@media (min-width: 768px) {
  body {
    background-color: var(--grey);
  }

  .container {
    max-width: 50rem;
  }

  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    padding: 1.5rem 2rem 1.5rem 2rem;
  }

  .nav__content {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 80%;
    gap: 3rem;
    letter-spacing: 0.5px;
  }

  .nav__links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    padding-top: 0.625rem;
  }

  .nav__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
  }

  .button__register,
  .button__login {
    padding: 0.625rem 1.25rem;
    letter-spacing: 0.5px;
    border-radius: 10px;
    transition: all 800ms ease;
    line-height: 1.25rem;
    font-weight: 700;
    border: 1px solid var(--green);
    color: var(--green);
    background-color: var(--white);
    transition: background-color 1s;
  }

  .nav__link a:hover {
    text-decoration: underline;
  }

  .button__register:hover {
    background-color: rgb(108, 133, 108);
  }
  .nav__hamburger-icon {
    display: none;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 60rem;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 70rem;
  }
}
