@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --green: #1a6635;
  --grey: #eeeeee;
  --white: #ffffff;
  --text: #222222;
}

*,
body,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  background-color: var(--white);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav__content {
  display: flex;
  flex-direction: column;
}

.nav__buttons {
  display: flex;
  flex-direction: column;
}

/* .nav__content {
  display: none;
} */

.nav__hamburger-icon {
  background-image: url(./icons/hamburger.svg);
  background-repeat: no-repeat;
  width: 3rem;
  aspect-ratio: 1 / 1;
}

.nav__buttons {
  display: flex;
}

.footer {
  width: 100%;
  padding: 2rem;
  background-color: var(--green);
  color: var(--white);
}

/* z nav__content bych v mobilním rozhraní udělala hamburger menu */

/* RESPONSIVITY */

@media (min-width: 768px) {
  body {
    background-color: var(--grey);
  }

  .container {
    max-width: 50rem;
  }

  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    padding: 2rem;
  }

  .nav__content {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 80%;
    gap: 3rem;
  }

  .nav__links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
  }

  .nav__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
  }

  .nav__hamburger-icon {
    display: none;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 60rem;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 70rem;
  }
}
